@font-face {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
@font-face {
  font-family: 'SF Pro Display 700';
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Display"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
body {
  font-family: 'SF Pro Display', sans-serif; }
  body.no-scroll {
    overflow: hidden; }

.btn.focus, button:focus, .form-control:focus {
  outline: 0;
  box-shadow: none; }

.transition, a, .button, .HomeNavBar .navbar-nav li a, .HomeNavBar .navbar-nav li.active a, .content .social i, .Team .card {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

@media (max-width: 767px) {
  h1 {
    font-size: 26px !important; } }

.layerrectangle {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgba(151, 151, 151, 0.32);
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  background: url(../Images/background.png);
  height: 100%;
  background-position: center;
  background-size: cover; }

.HomeNavBar {
  background: #0d0d0d; }
  .HomeNavBar .navbar-toggler i {
    font-size: 27px;
    color: #fff; }
  .HomeNavBar .navbar-brand img {
    width: 121px;
    height: 44px;
    transform: none !important; }
  @media (min-width: 992px) {
    .HomeNavBar .navbar-nav li {
      padding-right: 1rem !important;
      padding-left: 1rem !important; } }
  .HomeNavBar .navbar-nav li a {
    color: #fff !important;
    font-size: 14px;
    font-weight: 100;
    position: relative; }
    .HomeNavBar .navbar-nav li a:hover {
      opacity: 0.8; }
      .HomeNavBar .navbar-nav li a:hover:before {
        content: "";
        border-bottom: 2px solid #FFF;
        position: absolute;
        top: 30px;
        display: block;
        width: 100%;
        left: 0; }
        @media (max-width: 991px) {
          .HomeNavBar .navbar-nav li a:hover:before {
            top: 35px; } }
    .HomeNavBar .navbar-nav li a:active {
      opacity: 0.8; }
  .HomeNavBar .navbar-nav li.active a {
    color: #fff !important;
    font-size: 14px;
    font-weight: 100;
    position: relative; }
    .HomeNavBar .navbar-nav li.active a:before {
      content: "";
      border-bottom: 2px solid #FFF;
      position: absolute;
      top: 30px;
      display: block;
      width: 100%;
      left: 0; }
      @media (max-width: 991px) {
        .HomeNavBar .navbar-nav li.active a:before {
          top: 35px; } }
  .HomeNavBar .navbar-nav .dropArrow {
    position: relative; }
    .HomeNavBar .navbar-nav .dropArrow:before {
      position: absolute;
      top: 12px;
      right: 15px;
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-right: 0.1em solid #fff;
      border-top: 0.1em solid #fff;
      transform: rotate(135deg); }
    .HomeNavBar .navbar-nav .dropArrow .dropdown {
      background-color: transparent;
      color: #FFF;
      border: none;
      padding: 0;
      font-weight: 100;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-position: right center;
      background: none;
      width: 100%;
      padding-right: 15px; }
      .HomeNavBar .navbar-nav .dropArrow .dropdown:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }

.maxwidt {
  max-width: 1400px; }
  .maxwidt div {
    position: relative;
    z-index: 99; }

.content {
  padding: 170px 26px 26px 26px;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap; }
  .content .leftSection .pretitle {
    clear: both; }
    .content .leftSection .pretitle p {
      color: #FFF;
      font-size: 12px;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .content .leftSection .pretitle hr {
      height: 2px;
      background: #FFF;
      width: 40px;
      float: left; }
  .content .leftSection .title {
    clear: both; }
    .content .leftSection .title p {
      color: #FFF;
      font-size: 30px;
      text-align: left;
      margin-bottom: 0; }
      .content .leftSection .title p:first-child:first-letter {
        color: red; }
  .content .leftSection .disqription {
    padding: 20px 0; }
    .content .leftSection .disqription p {
      text-align: left;
      font-size: 12px;
      color: #808080;
      width: 300px;
      line-height: 22px; }
  .content .social {
    padding: 20px 0;
    clear: both; }
    .content .social i {
      color: #FFF;
      font-size: 20px;
      text-align: left;
      padding-top: 20px;
      margin-right: 15px;
      cursor: pointer; }
      .content .social i:hover {
        color: red; }
  .content .rightSection .firstsection {
    width: 100%;
    float: left;
    padding-top: 0; }
    @media (min-width: 992px) {
      .content .rightSection .firstsection {
        width: 50%; } }
    @media (max-width: 831px) {
      .content .rightSection .firstsection {
        padding: 0 !important; } }
    .content .rightSection .firstsection .pretitle {
      clear: both; }
      .content .rightSection .firstsection .pretitle p {
        color: #FFF;
        font-size: 12px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 10px; }
      .content .rightSection .firstsection .pretitle hr {
        height: 2px;
        background: #FFF;
        width: 20px;
        float: left; }
    .content .rightSection .firstsection .title {
      clear: both; }
      .content .rightSection .firstsection .title p {
        color: #FFF;
        font-size: 16px;
        text-align: left;
        margin-bottom: 0; }
        .content .rightSection .firstsection .title p:first-child:first-letter {
          color: red; }
    .content .rightSection .firstsection .disqription {
      padding: 20px 0; }
      .content .rightSection .firstsection .disqription p {
        text-align: left;
        font-size: 12px;
        color: #808080;
        line-height: 22px; }

.Team .card {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.5);
  border: none;
  top: 0;
  position: relative;
  float: left;
  margin: 25px; }
  @media (min-width: 471px) {
    .Team .card {
      max-width: 170px;
      max-height: 170px; } }
  .Team .card:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.8);
    top: -20px; }
  .Team .card .card-img-top {
    height: 100%;
    object-fit: cover; }
.Team .cardSmall {
  float: none !important; }
  @media (min-width: 471px) {
    .Team .cardSmall {
      max-width: 150px !important;
      max-height: 150px !important; } }
  .Team .cardSmall .card-body {
    font-size: 14px; }
    @media (min-width: 471px) {
      .Team .cardSmall .card-body {
        font-size: 9px !important; } }
.Team .card-text {
  background: #ffffff9c;
  color: #656161;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 113px;
  padding: 5px;
  left: -1px; }
  @media (min-width: 471px) {
    .Team .card-text {
      font-size: 11px;
      top: 80px; } }

/*# sourceMappingURL=account-main-page.css.map */
